

.beer-icon {
  height: 1em;
  vertical-align: -0.2em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Text_nav{
  font-size: 1.5em;
  font-weight: bold;
  color: #DABB3F;
}

.appname{
  font-size: 6em;
  font-weight: bold;
  color: #000000;
}

.username{
  font-size: 2em;
  font-weight: bold;
  color: #E3B600;
}

